@model ACS_Trend.Domain.Entities.Control_object_type

@{
    ViewData["Title"] = "CONTROL_OBJECT_TYPES_Details";
}

<h1>Тип объекта управления</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Control_object_type_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Control_object_type_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CONTROL_OBJECT_TYPES_Edit" asp-route-id="@Model.ID_Control_object_type">Edit</a> |
    <a asp-action="CONTROL_OBJECT_TYPES_GetAll">Back to List</a>
</div>
