@model ACS_Trend.Domain.Entities.Station_type

@{
    ViewData["Title"] = "STATION_TYPES_Edit";
}

<h1>STATION_TYPES_Edit</h1>

<h4>Station_typeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="STATION_TYPES_Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Station_type" />
            <div class="form-group">
                <label asp-for="Station_type_name" class="control-label"></label>
                <input asp-for="Station_type_name" class="form-control" />
                <span asp-validation-for="Station_type_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

