@model ACS_Trend.Domain.Entities.Station

@{
    ViewData["Title"] = "STATIONS_Create";
}

<h1>STATIONS_Create</h1>
<h2>@ViewBag.Issuccess</h2>

<h4>StationViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="STATIONS_Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Station_name" class="control-label"></label>
                <input asp-for="Station_name" class="form-control" />
                <span asp-validation-for="Station_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElectricalPower" class="control-label"></label>
                <input asp-for="ElectricalPower" class="form-control" />
                <span asp-validation-for="ElectricalPower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeatPower" class="control-label"></label>
                <input asp-for="HeatPower" class="form-control" />
                <span asp-validation-for="HeatPower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Station_type.Station_type_name" class="control-label"></label>
                @Html.DropDownList("Station_type.ID_Station_type", ViewBag.Station_Types as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Station_type.ID_Station_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

