@{
    ViewData["Title"] = "AdminDB";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>DB Tables</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                <a asp-action="GetAllControl_object_types">Control_object_types</a>
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a asp-action="GetAllControl_objects">Control_objects</a>
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a asp-action="GetAllRegulators">Regulators</a>
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a asp-action="GetAllSignal_types">Signal_types</a>
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a asp-action="GetAllStation_types">Station_types</a>
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a asp-action="GetAllStations">Stations</a>
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a asp-action="GetAllTransient_characteristics">Transient_characteristics</a>
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a asp-action="GetAllTrend_parameter_types">Trend_parameter_types</a>
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a asp-action="GetAllTrend_parameters">Trend_parameters</a>
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a asp-action="GetAll">TrendPoints</a>
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a asp-action="GetAllTrends">Trends</a>
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a asp-action="GetAllUnits">Units</a>
            </td>
        </tr>
    </tbody>
</table>