@model ACS_Trend.Models.TrendPointViewModel

@{
    ViewData["Title"] = "CreateListTrendPoints";
}

<h1>Загрузить точки тренда в базу данных</h1>

<h4>Точки тренда</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateListTrendPoints">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="TP_ID_Trend" class="control-label"></label>
            <input asp-for="TP_ID_Trend" class="form-control" />
            <span asp-validation-for="TP_ID_Trend" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date_time" class="control-label"></label>
            <input asp-for="Date_time" class="form-control" />
            <span asp-validation-for="Date_time" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Parameter" class="control-label"></label>
            <input asp-for="Parameter" class="form-control" />
            <span asp-validation-for="Parameter" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Trend.Station.Station_name" class="control-label"></label>
                @Html.DropDownList("Trend.Station.Station_name", ViewBag.Stations as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Trend.T_ID_Station" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trend.Unit.Unit_name" class="control-label"></label>
                @Html.DropDownList("Trend.Unit.Unit_name", ViewBag.Units as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Trend.T_ID_Unit" class="text-danger"></span>
            </div>
            <h4>Параметр тренда</h4>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllTrendPoints">Back to List</a>
</div>

