@model ACS_Trend.Models.Control_object_typeViewModel

@{
    ViewData["Title"] = "CreateControl_object_type";
}

<h1>CreateControl_object_type</h1>
<h2>@ViewBag.Issuccess</h2>

<h4>Control_object_typeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateControl_object_type">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Control_object_type_name" class="control-label"></label>
                <input asp-for="Control_object_type_name" class="form-control" />
                <span asp-validation-for="Control_object_type_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

