@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@model IEnumerable<TestLoadCSV>

<div id="div1" class="jumbotron" style="text-align:center">
    <h2>Анализ трендов динамических характеристик теплоэнергетического оборудования</h2>
</div>


<form asp-controller="TestLoadCSVs" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button type="submit">Upload</button>
</form>

@if (Model.Count() > 0)
{
    <hr />
    <table cellpadding="0" cellspacing="0" border="1">
        <tr>
            <td>Date</td>
            <td>Parameter</td>
        </tr>

        @foreach (TestLoadCSV testLoadCSV in Model)
        {
            <tr>
                <td>@testLoadCSV.Date</td>
                <td>@testLoadCSV.Parameter</td>
            </tr>
        }

    </table>
}

